DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=

JWT_SECRET_KEY=
EXPIRATION_TIME =
REFRESH_EXPIRATION_TIME =
EXPIRATION_TIME_FOR_VERIFICATION =

UNKNOWN_ERROR=
INVALID_EMAIL_ERROR=
BODY_MISSING_ERROR=
USER_EXIST_ERROR=
INVALID_INPUT_ERROR=
UNAUTHORIZED_ERROR=

MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=
VERIFICATION_LINK=
